doctype html
html
  head
    title Knowledgebase
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/') KnowledgeBase
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/articles/add') Add Article

    .container
      block content
      br
      hr
      footer
        p Copyright &copy; 2020

    script(src="/bower_components/bootstrap/site/docs/4.5/assets/js/vendor/jquery.slim.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")